<%= render :partial => '/shared/head' %>
<%= render :partial => '/shared/menu' %>
<body>
  <h1>Listing notes</h1>
   
  <table>
    <tr>
      <th>Note</th>
      <th></th>
    <!--  <th></th> -->
    </tr>
   
    <% @tests.each do |test| %>
      <tr>
        <td><%= test.name %></td>
        <td><%= link_to image_tag("#{test.path}") %></td>
        <td><%= link_to 'Show', test_path(test) %></td>
        <td><%= link_to 'Destroy', test_path(test),
              method: :delete,
              data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </table>

<script>
  $(document).ready(function() {
    var item = document.getElementById("learn");
    item.setAttribute("class", "active");
  });
</script>

</body>
</html>