<%= render :partial => '/shared/head' %>
<%= render :partial => '/shared/menu' %>
		<h1>New note</h1>
		<%= form_for :test, url: tests_path do |f| %>
		  <p>
		    <%= f.label :name %><br>
		    <%= f.text_field :name %>
		  </p>
		 
		  <p>
		    <%= f.label :path %><br>
		    <%= f.text_area :path %>
		  </p>

		  <p>
		    <%= f.label :scale %><br>
		    <%= f.text_area :scale %>
		  </p>
		 
		  <p>
		    <%= f.submit "Save note" %>
		  </p>
		<% end %>
<script>
	$(document).ready(function() {
		var item = document.getElementById("add");
		item.setAttribute("class", "active");
	});
</script>
	</body>
</html>